!!!
%html
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0, minimum-scale=1.0'}

    = javascript_include_tag 'application'
    = stylesheet_link_tag 'application'
    = csrf_meta_tag
    = favicon_link_tag 'favicon.png'
    = favicon_link_tag 'mobile-icon.png', rel: 'apple-touch-icon-precomposed', type: 'image/png'
    = render 'daimon_news/layout/application/head'

  %body(data-layer='top'){ class: "#{['root-container', @class_page_name].compact.join(', ')}" }
    = render 'daimon_news/layout/application/google_tag_manager'
    = render 'daimon_news/layout/application/content_header'

    .content-body
      %nav.sidebar.sidebar--left(data-state='off-canvas')
        %ul.menu
          = render 'daimon_news/layout/application/menu'
          = render 'daimon_news/layout/news/menu'

      .wrappable
        .wrappable__content.wrappable__content--flex.main-pane
          %main
            = render 'daimon_news/layout/application/breadcrumbs'
            = yield
        %aside.wrappable__content.promotions
          - if Rails.env.production?
            %section.promotion.promotion--adsense
              = render 'daimon_news/layout/application/adsense'
          = render 'daimon_news/layout/application/promotion'
          = render 'daimon_news/layout/news/promotion'
    = render 'daimon_news/layout/application/footer'
